In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import pymystem3

In [18]:
texts = [
    'бигдатенькая вышла неделька',
    'не плохое фильм, а хороший'
]

In [19]:
pymystem_a = pymystem3.Mystem()
texts = [' '.join(pymystem_a.lemmatize(x)) for x in texts]

In [20]:
texts

['бигдатенький   выходить   неделька \n',
 'не   плохой   фильм ,  а   хороший \n']

In [25]:
cv = CountVectorizer()

In [26]:
m = cv.fit_transform(texts)

In [27]:
pd.DataFrame(m.toarray(), columns=cv.get_feature_names())

   бигдатенький  выходить  не  неделька  плохой  фильм  хороший
0             1         1   0         1       0      0        0
1             0         0   1         0       1      1        1

In [39]:
def my_tokenizer(text):
    return pymystem_a.lemmatize(text)

In [40]:
cv = CountVectorizer(tokenizer=my_tokenizer)

In [41]:
m = cv.fit_transform(texts)

In [42]:
pd.DataFrame(m.toarray(), columns=cv.get_feature_names())

,\n,,",",а,бигдатенький,выходить,не,неделька,плохой,фильм,хороший
0,1,2,0,0,1,1,0,1,0,0,0
1,1,3,1,1,0,0,1,0,1,1,1